.sprucemarks-legacy {
  hr { clear: both; }
  input[type=checkbox] {
    cursor: pointer;
    margin-top: 6px;
    transform: scale(2, 2);
  }
  input[type=number] {
    border: none;
    border-radius: 4px;
    color: #3e94d6;
    margin: 0;
    text-align: center;
    width: 55px;
  }
  .option {
    clear: both;
    margin: 0 0 18px 0;
    padding: 0 0 18px 0;
  }
  .option,
  .option-title,
  .option-choice,
  .option-example {
    float: left;
  }
  .option-title {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    padding: 0 20px 0 0;
    text-align: left;
    width: 186px;
  }
  .option-sort {
    font-weight: normal;
    margin: 1em 0 0 0;
  }
  .option-choice {
    padding-left: 20px;
    width: 70px;
  }
  .option-example {
    color: #666;
    cursor: default;
    line-height: 18px;
    width: 474px;
  }
  .option-example .true,
  .option-example .false {
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 0.35s;
  }
  .option-example .active {
    opacity: 1;
  }
  .option-example .no-transition {
    transition: none;
  }
  .option-example p {
    margin-top: 0;
  }
  .option-example p:last-child {
    margin-bottom: 0;
  }
  .css3-button {
    background-color: #009aec;
    background-image: linear-gradient(to bottom, #649aec 0%, #59b9ec 90%);
    border: 2px solid #69c;
    border-radius: 16px;
    box-shadow: rgba(128, 192, 255, 0.75) 0 0 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    padding: 0.3em 0.5em 0.35em 0.5em;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    width: 100px;
  }
  .css3-button:hover,
  .css3-button:focus {
    background-color: #4ebbff;
    background-image: linear-gradient(to bottom, #8ed4ff 0%, #4ebbff 90%);
    box-shadow: 0 3px 6px rgba(128, 192, 255, 0.75);
    color: white !important;
    text-decoration: none !important;
  }
  #save-area {
    margin: -20px 0 0 36px;
    float: left;
    clear: both;
    color: #666;
  }
  #options-saved {
    cursor: default;
    font-weight: bold;
    float: left;
    margin: 10px 0 0 10px;
    opacity: 0;
    text-align: center;
    width: 120px;
  }
  @keyframes savedAnimation {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
  .saved-animation {
    animation: savedAnimation 5s;
  }
}
